[
  {kernel, [
    {inet_dist_use_interface, {0,0,0,0}},
    {inet_dist_listen_min, 25672},
    {inet_dist_listen_max, 25672}
  ]},
  {rabbit, [
    {tcp_listeners, [
      {"0.0.0.0", 5672}
    ]}  ]},
  {rabbitmq_management, [
    {listener, [
      {ip, "0.0.0.0"},
      {port, 15672}
    ]},
    {load_definitions, "/etc/rabbitmq/definitions.json"}
  ]}].
% EOF
